apiVersion: apps/v1
kind: Deployment
metadata:
  name: shoeshop
spec:
  replicas: 2
  selector:
    matchLabels:
      app: shoeshop
  template:
    metadata:
      labels:
        app: shoeshop
    spec:
      containers:
      - name: shoeshop
        image: viennnguyen1301/shoeshop:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080